.container {
  width: 80%;
  height: 70px;
  border-radius: 20px;
  background: #3A3A3A;
  opacity: 0.85;
  position: absolute;
  z-index: 9999;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #a1a1a1;
  text-decoration: none;
  animation: fadeIn 0.5s forwards; // 렌더링 시 애니메이션

  &.fadeOut {
    animation: fadeOut 0.5s forwards; // 사라질 때 애니메이션
  }
  .msgWrap {
    width: 85%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;

    .image {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      object-fit: cover;
    }

    .wrap {
      height: 100%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .name {
        font-size: 0.9rem;
      }

      .text {
        font-size: 1rem;
      }
    }
    .postTitle {
      font-size: 0.9rem;
      position: absolute;
      right: 0;
      top: 7px;
      color: #a1a1a1;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}