.dotsContainer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 5px;

  .dots {
    background: #bfbfbf;
    opacity: 0.5;
  }
  .active {
    background: white;
    opacity: 0.9;
  }
}

.dotsContainer > * {
  padding: 0.3rem;
  border-radius: 50%;
  transition: opacity .1s ease-out;
}