.overlay {

  position: absolute;
  width: 400px;
  height: 844px;
  left: 50%;
  top: 50%;
  border-radius: 42px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 9998; /* 모달 배경이 모달보다 뒤로 가도록 */

  .container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top; /* scaleY가 위쪽을 기준으로 확장되도록 설정 */
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    background: #2A2A2A;
    color: white;
    font-size: 1.3rem;
    z-index: 9999;
    overflow: scroll;
    animation: fadeIn 0.5s forwards;

    &.fadeOut {
      animation: fadeOut 1s forwards;
    }
  }
}



@keyframes fadeIn {
  from {
    transform: translateX(-50%) scaleY(0);
  }
  to {
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(-50%) scaleY(1);
  }
  to {
    transform: translateX(-50%) scaleY(0);
  }
}