.sellerContainer {
  width: 100%;
  position: fixed;
  background: #2A2A2A;
  border-bottom: 1px solid #3a3a3a;
  .subContainer {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .back {
      cursor: pointer;
      width: 25px;
      height: 25px;
    }

    .chatPartner {
      font-weight: 500;
    }
    .menu {
      cursor: pointer;
      width: 25px;
      height: 25px;
    }
  }
}

.postContainer {
  position: fixed;
  margin-top: 65px;
  width: 100%;
  display: flex;
  font-size: 1.1rem;
  gap: 10px;
  border-bottom: 1px solid #3a3a3a;
  padding-bottom: 15px;

  .postImg {
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    //flex: 1 0 auto;
  }
  .postMetaData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //margin-right: 10px;
    flex: 1 0 auto;
    .topWrap {
      font-size: 1rem;
      display: flex;
      color: #9F9E9E;

      .status {
        margin-right: 10px;
      }
      .title {
        color: #d3d3d3;
      }
    }
    .price {
      font-weight: 600;
      font-size: 1rem;
      color: #d3d3d3;
    }
  }
}

.chatContainer {

  width: 90%;
  height: 550px;
  margin: 160px auto 5px;
  overflow: scroll;

  .systemNotice {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #9F9E9E;
    margin: 10px 0;
  }

  .sellerChat {
    display: flex;
    padding: 5px 0;
    justify-content: left;
    align-items: center;
    position: relative;
    .sellerImage {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .sellerText {
      color: #d3d3d3;
      font-size: 0.95rem;
      padding: 10px;
      background: #3a3a3a;
      border-radius: 5px;
      margin-left: 10px;
    }
    .sellerSendTime {
      color: #636363;
      font-size: 0.8rem;
      margin-left: 10px;
      align-self: end;
    }
  }

  .myChat {
    display: flex;
    padding: 5px 0;
    justify-content: right;
    align-items: center;
    .myTime {
      color: #636363;
      font-size: 0.8rem;
      margin-right: 10px;
      align-self: end;
    }
    .myText {
      color: #d3d3d3;
      font-size: 0.95rem;
      padding: 10px;
      background: #F35A20;
      border-radius:5px;
    }
  }
}

.inputContainer {
  width: 99%;
  margin: 0 auto;
  height: 60px;
  position: fixed;
  z-index: 1000;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  //border-top: 1px solid #737373;
  bottom: 0;
  display: flex;
  justify-content: center;
  //align-items: center;
  .plus {
    flex: 1 0 auto;
    width: 30px;
    height: 30px;
    color: #D3D3D3;
    cursor: pointer;
  }

  .inputWrap {
    flex: 8 0 auto;
    width: 30px;
    height: 32px;
    background: #3a3a3a;
    border-radius: 12px;
    position: relative;
    .input {
      width: 95%;
      height: 30px;
      background: none;
      border: none;
      border-radius: 12px;
      color: white;
      text-indent: 10px;
    }
    .input:focus {
      outline: none;
    }
    .emotion {
      position: absolute;
      top:3px;
      right: 8px;
      width: 25px;
      height: 25px;
      color: #d3d3d3;
      cursor: pointer;
    }
  }
  .send {
    flex: 1 0 auto;
    width: 25px;
    height: 25px;
    color: #D3D3D3;
    cursor: pointer;
  }
}