.container {

  // ========== header section ========= //
  .searchContainer {
    width: 92%;
    margin: 5px auto 0;
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
      width: 10%;
      font-weight: 700;
      cursor: pointer;
    }

    .searchInput {
      width: 74%;
      padding: 12px 0;
      background: #343434;
      border-radius: 12px;
      border: none;
      color: white;
      font-size: 1rem;
      text-indent: 20px;
    }
    .haveKeyword::placeholder {
      color: white;
      font-size: 1rem;
    }

    .searchInput:focus {
      outline: none;
    }

    .clearBtn {
      font-size: 0.8rem;
      position: absolute;
      right: 85px;
      padding: 2px;
      border-radius: 50%;
      color: #313131;
      background: #8f8e8e;
      cursor: pointer;
      font-weight: 700;
      top: 74px;
    }

    .close {
      width: 10%;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }

  // ========== recommend section ========= //
  .recommendContainer {
    width: 90%;
    margin: 20px auto;

    .recommendKeywordContainer {
      display: flex;
      flex-direction: row;
      overflow: scroll;
      font-size: 0.95rem;
      font-weight: 400;
      margin-top: 10px;
      gap: 8px;
      overflow-x: auto; /* 가로 스크롤 활성화 */
      white-space: nowrap; /* 줄 바꿈 방지 */

      .recommendKeyword {
        border: 1px solid #393939;
        padding: 8px 13px;
        border-radius: 12px;
        flex-shrink: 0;
        cursor: pointer;
      }
    }
  }

  .title {
    font-size: 1.1rem;
    font-weight: 600;
  }

  // ========== recently section ========= //
  .recentlyContainer {
    width: 90%;
    margin: 15px auto 0;

    .recentlyTopWrap {
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      .allDelete {
        font-size: 1rem;
        font-weight: 400;
        color: #a1a1a1;
        cursor: pointer;
      }
    }

    .keywordContainer {
      width: 95%;
      margin: 10px auto 0;
      overflow: scroll;

      .keywordBox {
        display: flex;
        width: 100%;
        align-items: center; /* 수직 중앙 정렬 */
        padding: 15px 0; /* 수직 정렬을 위한 패딩 추가 */

        .clock {
          width: 10%;
          color: #a1a1a1;
          margin-right: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .keyword {
          width: 80%;
          font-size: 1.1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .xBtn {
          width: 10%;
          color: #a1a1a1;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .date {
          color: #a1a1a1;
          font-size: 0.8rem;
          white-space: nowrap;
          margin-right: 10px;
        }
      }
    }
  }
  .noContent {
    width: 100%;
    margin: 70px auto;
    text-align: center;
    color: #a1a1a1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  color: #eaeaea;
  width: 96%;
  margin: 0 auto;
}

.post:first-child {
  margin-top: 10px;
}

.post {
  text-decoration: none;
  color: #eaeaea;
  display: flex;
  align-items: center;
  padding: 18px 0;
  gap: 12px;
  cursor: pointer;
  border-bottom: 1px solid #393939;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  background-color: #444;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.meta {
  font-size: 0.85rem;
  color: #a1a1a1;
}

.tradeType {
  font-size: 0.9rem;
  font-weight: 600;
  color: #f85047;
}
.share {
  font-size: 0.9rem;
  font-weight: 600;
  color: #a1a1a1;
}
.price {
  font-size: 0.95rem;
  font-weight: 600;
  color: #fff;
  margin-right: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  font-size: 0.85rem;
  color: #a1a1a1;
}