.container {
  display: flex;
  flex-direction: column;
  background: #2A2A2A;
  color: #fff;
  overflow-y: auto;


  // ============== settings ================ //

  .top {
    width: 100%;
    border-bottom: 1px solid #3a3a3a;
    margin-top: 20px;
    padding-bottom: 15px;
    position: relative; /* 부모 요소를 기준으로 자식 요소 배치 가능 */

    .subContainer {
      width: 90%;
      display: flex;
      justify-content: space-between; /* 제목을 중앙 정렬 */
      align-items: center;
      margin: 0 auto;
      position: relative; /* 제목을 기준으로 배치 */



      .title { /* 제목 */
        text-align: center;
        font-size: 1.2rem;
      }
      .search {
        font-size: 1.7rem;
      }

      .back {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
  }

  .mainContainer {
    z-index: 10000;

    .menuWrap {
      border-bottom: 1px solid #3a3a3a;

      .category,
      .menus {
        width: 90%;
        margin: 0 auto;
      }
      .category {
        font-size: 1rem;
        font-weight: 600;
        padding: 35px 0;
      }
      .menus {
        font-size: 1.1rem;
        padding: 0 0 30px ;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .option {
          color: #F35A20;
        }
      }
      .disturb {
        width: 90%;
        margin: 0 auto;
        font-size: 1.1rem;
        padding: 0 0 20px ;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  // ============== settings end ================ //
  // ============== LikedList ================ //

  .postContainer {

    width: 90%;
    margin: 0 auto;

    .post:first-child {
      margin-top: 65px;
    }

    .post {
      text-decoration: none;
      color: #eaeaea;
      display: flex;
      align-items: center;
      padding: 18px 0;
      gap: 12px;
      cursor: pointer;
      border-bottom: 1px solid #393939;

      .image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        background-color: #444;
      }

      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .title {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
      }

      .meta {
        font-size: 0.85rem;
        color: #a1a1a1;
      }

    }
    .tradeType {
      font-size: 0.9rem;
      font-weight: 600;
      color: #f85047;
    }
    .share {
      font-size: 0.9rem;
      font-weight: 600;
      color: #a1a1a1;
    }
    .price {
      font-size: 0.95rem;
      font-weight: 600;
      color: #fff;
      margin-right: 10px;
    }

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 4px;
      font-size: 0.85rem;
      color: #a1a1a1;
    }
  }


  // ============== LikedList end ================ //
}
