.container {
  display: flex;
  flex-direction: column;
  background: #2A2A2A;
  color: #fff;
  overflow-y: auto;

  .top {
    width: 100%;
    border-bottom: 1px solid #3a3a3a;
    margin-top: 20px;
    padding-bottom: 15px;
    position: relative; /* 부모 요소를 기준으로 자식 요소 배치 가능 */

    .subContainer {
      width: 90%;
      display: flex;
      justify-content: center; /* 제목을 중앙 정렬 */
      align-items: center;
      margin: 0 auto;
      position: relative; /* 제목을 기준으로 배치 */
    }

    .title { /* 제목 */
      text-align: center;
      font-size: 1.2rem;
    }

    .empty {
      visibility: hidden; /* 오른쪽 공간 확보를 위한 빈 div 숨김 */
    }

    .back {
      position: absolute; /* 부모 요소(.subContainer)를 기준으로 배치 */
      left: 0; /* 왼쪽 고정 */
      top: 50%; /* 수직 중앙 */
      transform: translateY(-50%); /* 수직 중앙 맞춤 */
      cursor: pointer;
      font-size: 1.5rem;
    }
  }

  .mainContainer {
    z-index: 10000;

    .menuWrap {
      border-bottom: 1px solid #3a3a3a;

      .category,
      .menus {
        width: 90%;
        margin: 0 auto;
      }
      .category {
        font-size: 1rem;
        font-weight: 600;
        padding: 35px 0;
      }
      .menus {
        font-size: 1.1rem;
        padding: 0 0 30px ;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .option {
          color: #F35A20;
        }
      }
      .disturb {
        width: 90%;
        margin: 0 auto;
        font-size: 1.1rem;
        padding: 0 0 20px ;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}